{% extends 'base_admin.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
    <h1>La liste des genres de projet</h1>
     {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
     {% endfor %}
    <table class="table table-bordered table-hover table-primary">
        <thead>
            <tr class="table-secondary">
                <th>Id</th>
                <th>Nom</th> 
            
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.Nom }}</td>
                <td>
                    <a href="{{ path('genre_show', {'id': genre.id}) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                   <td> <a href="{{ path('genre_edit', {'id': genre.id}) }}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">le tableau est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render( genres )}}
    <a href="{{ path('genre_new') }}" class="btn btn-success">Ajouter un nouveau</a>
{% endblock %}
