{% extends 'base_admin.html.twig' %}

{% block title %}Universite index{% endblock %}

{% block body %}
    <h1>Universites</h1>
     {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
     {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for universite in universites %}
            <tr>
                <td>{{ universite.id }}</td>
                <td>{{ universite.Nom }}</td>
                <td>
                    <a href="{{ path('universite_show', {'id': universite.id}) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                <td> <a href="{{ path('universite_edit', {'id': universite.id}) }}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">la table université est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('universite_new') }}" class="btn btn-success">Ajouter</a>
{% endblock %}
