{{ form_start(form) }}
    <div class="row">
        <div class="col-md-3">{{ form_row(form.Nom) }}</div>
        <div class="col-md-3">{{ form_row(form.Prenom) }}</div>
        <div class="col-md-3">{{ form_row(form.telephone) }}</div>
        <div class="col-md-3">{{ form_row(form.Email) }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form_row(form.Pays) }}</div>
        <div class="col-md-3">{{ form_row(form.Poste) }}</div>
        <div class="col-md-3">{{ form_row(form.Date_anniversaire) }}</div>
        <div class="col-md-3">{{ form_row(form.Niveau) }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form_row(form.Cv) }}</div>
        <div class="col-md-3"></div> 
         <div class="col-md-3">{{ form_row(form.Photo) }}</div>
    </div>
    <div class="row">    
        <div class="col-md-3">{{ form_row(form.Universite) }}</div> 
        <div class="col-md-3">{{ form_row(form.Specialite) }}</div>   
        <div class="col-md-6">{{ form_row(form.Profil) }}</div>
    </div>
   <button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
