{% extends 'base_admin.html.twig' %}

{% block title %}Membre index{% endblock %}

{% block body %}
   <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-success center">La liste des membres</h1>
                    {% for flash_message in app.session.flashbag.get('success') %}
                        <div class="container alert alert-success" role="alert">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
            </div>
            <div class="col-md-4">    
                {{ form_start(form) }}
                     {{ form_row(form.nom, {'label': " ", 'attr': {'placeholder': 'chercher un nom...'}}) }}
                    <button class="btn btn-primary">rechercher</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <br>
    <br>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date_anniversaire</th>
                <th>Pays</th>
                <th>Email</th>
                <th>Cv</th>
                <th>Photo</th>

            </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td>{{ membre.id }}</td>
                <td>{{ membre.Nom }}</td>
                <td>{{ membre.Prenom }}</td>
                <td>{{ membre.DateAnniversaire ? membre.DateAnniversaire|date('Y-m-d') : '' }}</td>
                <td>{{ membre.Pays }}</td>
                <td>{{ membre.Email }}</td>
                <td><a href="{{asset('cv_membres/' ~ membre.Cv)}}" >{{ membre.Cv }}</a></td>
                <td><img src="{{asset('photo_membres/' ~ membre.Photo)}}" width="100px" height="70px;"></td>
               <td>
                    <a href="{{ path('membre_show', {'id': membre.id}) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                   <td> <a href="{{ path('membre_edit', {'id': membre.id}) }}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">la table est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {{ knp_pagination_render( membres )}}
    <a href="{{ path('membre_new') }}" class="btn btn-success">Ajouter</a>
    <a href="{{ path('membre_index') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
 