{% extends 'base_admin.html.twig' %}

{% block title %}Membre index{% endblock %}

{% block body %}
    <h1>la liste des membres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date_anniversaire</th>
                <th>Pays</th>
                <th>Email</th>
                <th>Cv</th>
                <th>Photo</th>

            </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td>{{ membre.id }}</td>
                <td>{{ membre.Nom }}</td>
                <td>{{ membre.Prenom }}</td>
                <td>{{ membre.DateAnniversaire ? membre.DateAnniversaire|date('Y-m-d') : '' }}</td>
                <td>{{ membre.Pays }}</td>
                <td>{{ membre.Email }}</td>
                <td><a href="{{asset('cv_membres/' ~ membre.Cv)}}" >{{ membre.Cv }}</a></td>
                <td><img src="{{asset('photo_membres/' ~ membre.Photo)}}" width="100px" height="70px;"></td>
               <td>
                    <a href="{{ path('membre_show', {'id': membre.id}) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                   <td> <a href="{{ path('membre_edit', {'id': membre.id}) }}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">la table est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {{ knp_pagination_render( membres )}}
    <a href="{{ path('membre_new') }}" class="btn btn-success">Ajouter</a>
{% endblock %}
