{% extends 'base_admin.html.twig' %}

{% block title %}Mission index{% endblock %}

{% block body %}
    <h1>Missions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
         
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.Libelle }}</td>
               <td>
                    <a href="{{ path('mission_show', {'id': mission.id}) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                <td> <a href="{{ path('mission_edit', {'id': mission.id}) }}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">La table est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mission_new') }}" class="btn btn-success">Ajouter un nouveau</a>
{% endblock %}
