{% extends 'base_admin.html.twig' %}

{% block title %}index messages{% endblock %}

{% block body %}
    <h1>Les messages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Objet</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.Nom }}</td>
                <td>{{ contact.Objet }}</td>
                <td>{{ contact.Email }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a>
                  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
          {{ knp_pagination_render( contacts )}}
   
{% endblock %}
