<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>ajveg</title>

  <!-- Favicons -->
  <link href="{{asset('Template_user/img/favicon.png')}}" rel="icon">
  <link href="{{asset('Template_user/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="{{asset('Template_user/lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <!--external css-->
  <link href="{{asset('Template_user/lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{{asset('Template_user/css/zabuto_calendar.css')}}">
  <link rel="stylesheet" type="text/css" href="{{asset('Template_user/lib/gritter/css/jquery.gritter.css')}}" />
  <!-- Custom styles for this template -->
  <link href="{{asset('Template_user/css/style.css')}}" rel="stylesheet">
  <link href="{{asset('Template_user/css/style-responsive.css')}}" rel="stylesheet">
  <script src="{{asset('Template_user/lib/chart-master/Chart.js')}}"></script>

</head> 

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>AJVE<span>Guinée</span></b></a>
      <!--logo end-->
    
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{{ path('app_logout') }}">Se deconnecter</a></li>
        </ul>
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="#">Profil</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN  MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="{{path('administrateur')}}"><img src='{{asset('photo_admin/' ~ app.user.Photo)}}' class="img-circle" width="150" height="100"></a></p>
          <h5 class="centered">{{ app.user.nom }} {{ app.user.prenom }}</h5>
          <li class="mt">
            <a class="active" href="{{path('administrateur')}}">
              <i class="fa fa-dashboard"></i>
              <span>Menu</span>
              </a>
          </li>
          <li>
            <a href="{{path('register_index')}}"> 
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>Administrateurs </span>
              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>Présentation</span>
              </a>
            <ul class="sub">
              <li><a href={{path('presentation_index')}}>General</a></li>
              <li><a href="{{path('historique_index')}}">Historique</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-user"></i>
              <span>Membre</span>
              </a>
            <ul class="sub">
              <li><a href="{{path('membre_index')}}">Membre</a></li>
              <li><a href="{{path('bureau_index')}}">Bureau</a></li>
  
            </ul>
          </li>
           <li>
            <a href="{{path('projet_index')}}">
              <i class="glyphicon glyphicon-certificate"></i>
              <span>Projet </span>
              </a>
          </li>
          <li>
            <a href="{{path('contact_index')}}">
              <i class="fa fa-envelope"></i>
              <span>Contact </span>
              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>
           <li class="sub-menu">
            <a href="javascript:;">
              <i class="glyphicon glyphicon-list"></i>
              <span>Menu d'association</span>
              </a>
            <ul class="sub">
              <li><a href="{{path('niveau_index')}}">Niveau</a></li>
              <li><a href="{{path('genre_index')}}">Genre Projet</a></li>
              <li><a href="{{path('universite_index')}}">Universite</a></li>
  
            </ul>
          </li>
        
          <li>
            <a href="google_maps.html">
              <i class="fa fa-map-marker"></i>
              <span>Google Maps </span>
              </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
               <div class="col-lg-9 main-chart">
           
                     {% block body %}


                     {% endblock %}
                </div>

               {#
                <div class="col-lg-3 ds">
                   <h4 class="centered mt">Les administrateur</h4>
                  <!-- le premier admin -->
                  <div class="desc">
                      <div class="thumb">
                         <img class="img-circle" src='{{asset("Template_user/img/conde.jpg")}}' width="35px" height="35px" align="">
                       </div>
                    <div class="details">
                        <p>
                            <a href="#">Aboubacar Sidiki</a><br/>
                            <muted>Condé</muted>
                        </p>
                     </div>
                 </div>
                   <!-- le dexiéme admin -->
                  <div class="desc">
                      <div class="thumb">
                         <img class="img-circle" src='{{asset("Template_user/img/soumah.jpeg")}}' width="35px" height="35px" align="">
                       </div>
                    <div class="details">
                        <p>
                            <a href="#">Salif</a><br/>
                            <muted>Soumah</muted>
                        </p>
                     </div>
                 </div>
                
                   <!-- le troisiéme admin -->
                  <div class="desc">
                      <div class="thumb">
                         <img class="img-circle" src='{{asset("Template_user/img/diane.jpeg")}}' width="35px" height="35px" align="">
                       </div>
                    <div class="details">
                        <p>
                            <a href="#">Lanciné</a><br/>
                            <muted>Diane</muted>
                        </p>
                     </div>
                 </div>
            <!-- CALENDAR-->
            <div id="calendar" class="mb">
              <div class="panel green-panel no-margin">
                <div class="panel-body">
                  <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                    <div class="arrow"></div>
                    <h3 class="popover-title" style="disadding: none;"></h3>
                    <div id="date-popover-content" class="popover-content"></div>
                  </div>
                  <div id="my-calendar"></div>
                </div>
              </div>
            </div>

                </div>
                #}
            </div>
        

     
      </section>
    </section>
    <!--main content end-->
    <!--footer start-->
   
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{{asset('Template_user/lib/jquery/jquery.min.js')}}"></script>

  <script src="{{asset('Template_user/lib/bootstrap/js/bootstrap.min.js')}}"></script>
  <script class="include" type="text/javascript" src="{{asset('Template_user/lib/jquery.dcjqaccordion.2.7.js')}}"></script>
  <script src="{{asset('Template_user/lib/jquery.scrollTo.min.js')}}"></script>
  <script src="{{asset('Template_user/lib/jquery.nicescroll.js')}}" type="text/javascript"></script>
  <script src="{{asset('Template_user/lib/jquery.sparkline.js')}}"></script>
  <!--common script for all pages-->
  <script src="{{asset('Template_user/lib/common-scripts.js')}}"></script>
  <script type="text/javascript" src="{{asset('Template_user/lib/gritter/js/jquery.gritter.js')}}"></script>
  <script type="text/javascript" src="{{asset('Template_user/lib/gritter-conf.js')}}"></script>
  <!--script for this page-->
  <script src="{{asset('Template_user/lib/sparkline-chart.js')}}"></script>
  <script src="{{asset('Template_user/lib/zabuto_calendar.js')}}"></script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
</body>

</html>
