<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ajveg</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{{asset('Template_users/assets/img/icon.jpg')}}">

	<!-- CSS here -->
	<link rel="stylesheet" href="{{asset('Template_users/assets/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{asset('Template_users/assets/css/owl.carousel.min.css')}}">
	<link rel="stylesheet" href="{{asset('Template_users/assets/css/slicknav.css')}}">
    <link rel="stylesheet" href="{{asset('Template_users/assets/css/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('Template_users/assets/css/progressbar_barfiller.css')}}">
    <link rel="stylesheet" href="{{asset('Template_users/assets/css/gijgo.css')}}">
    <link rel="stylesheet" href="{{asset('Template_users/assets/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{asset('Template_users/assets/css/animated-headline.css')}}">
	<link rel="stylesheet" href="{{asset('Template_users/assets/css/magnific-popup.css')}}">
	<link rel="stylesheet" href="{{asset('Template_users/assets/css/fontawesome-all.min.css')}}">
	<link rel="stylesheet" href="{{asset('Template_users/assets/css/themify-icons.css')}}">
	<link rel="stylesheet" href="{{asset('Template_users/assets/css/slick.css')}}">
	<link rel="stylesheet" href="{{asset('Template_users/assets/css/nice-select.css')}}">
	<link rel="stylesheet" href="{{asset('Template_users/assets/css/style.css')}}">
</head>
<body>
      <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{{asset('Template_users/assets/img/logo/logo_ajveg.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>     
                                        <li><i class="fas fa-phone"></i> +216 56 35 22 77 </li>
                                        <li><i class="far fa-envelope"></i>ajveg@gmail.com</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <a href="#" class="btn">Jeune de Guinée</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="{{asset('Template_users/assets/img/logo/logo_ajveg.png')}}" 
                                    alt=""  width="150px" height="80px"></a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-8">
                                <div class="menu-wrapper  d-flex align-items-center">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav> 
                                            <ul id="navigation">                                                                                          
                                                <li><a href="{{path('index')}}">Accueil</a></li>
                                                <li><a href="#">Presentation</a>
                                                    <ul class="submenu">
                                                        <li><a href="{{path('user_presentation')}}">Général</a></li>
                                                        <li><a href="{{path('user_history')}}">Historique</a></li>
                                                        <li><a href="{{asset('vision')}}">Objectifs</a></li>
                                                       
                                                    </ul>
                                                </li>
                                                  <li class="active"><a href="#">Membre</a>
                                                    <ul class="submenu">
                                                        <li><a href="{{path('users_membre')}}">Membres</a></li>
                                                        <li><a href="{{path('liste_membre_bureau')}}">Bureau</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{{path('users_projet')}}">Projet</a></li>
                                                  {#<li><a href="#">Partenaire</a></li>#}
                                                <li><a href="{{path('contact_new')}}">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                        {#
                        <div class="col-xl-1 col-lg-2">
                                <!-- Search Box -->
                                <div class="search d-none d-lg-block">
                                    <ul>
                                        <li>
                                            <div class="nav-search search-switch">
                                                <span class="fas fa-search"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        #}
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End --> 
    </header>
    <!-- main -->
    <main>
         <div class="slider-area2 section-bg2" data-background="{{asset('Template_users/assets/img/hero/hero6.png')}}">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Membre du Bureau</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="blog_area single-post-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">
                        <h1 class="element"> Membres du bureau </h1>
                                <br>
                        <div class="media post_item">
                            <div class="row">
                                {% for bureau in bureaux %}
                                    <div class="col-md-4"> 
                                        <div class="card md-4">
                                            <div class="card-body">
                                                 <div class="text-primary">
                                                    <img src="{{asset('photo_bureau/' ~ bureau.Photo)}}" 
                                                            width="140px" height="140px;">
                                                </div>
                                                <h4 class="card-title" style="color: #A9A9A9;">{{ bureau.nom }}</h4>
                                                <h3 class="card-title" style="color: #A9A9A9;"> {{ bureau.prenom }}</h3>
                                                <h3 style="color: #00008B;">{{ bureau.Poste }}</h3>
                                                <p><a href="{{ path('get_membre_bureau', {'id': bureau.id}) }}" class="all-btn">voir profil</a></p>
                                               
                                            </div>
                                        </div>
                                        <br><br>
                                    </div> 
                                     {% else %}
            
                                    <p colspan="3"  class="text-danger">la table membre du bureau est vide</p>
           
                                {% endfor %}
                                {{ knp_pagination_render( bureaux )}}
                            </div>
                        </div>           
                    </div>
                    <div class="col-lg-3">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Nos pays</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <a href="#" class="d-flex">
                                        <p>Guinée</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                        <p>Tunisie</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                        <p>Maroc</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                        <p>Canada</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                        <p>Russie</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                        <p>Turquie</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                        <p>France</p>
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget tag_cloud_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Nos métiers</h4>
                                 <ul class="list">
                                    <li>
                                        <a href="#">Ingénieurs en génie civil</a>
                                    </li>
                                    <li>
                                        <a href="#">Ingénieurs en électricté</a>
                                    </li>
                                    <li>
                                        <a href="#">Ingénieurs en génie minier</a>
                                    </li>
                                    <li>
                                        <a href="#">Ingénieurs en mécanique</a>
                                    </li>
                                    <li>
                                        <a href="#">Ingénieurs en biologie</a>
                                    </li>
                                    <li>
                                        <a href="#">Ingénieurs en génie logiciel</a>
                                    </li>
                                    <li>
                                        <a href="#">Géologue</a>
                                    </li>
                                    <li>
                                        <a href="#">Developpeurs web</a>
                                    </li>
                                    <li>
                                        <a href="#">Avocats</a>
                                    </li>
                                    <li>
                                        <a href="#">Sociologue</a>
                                    </li>
                                    <li>
                                        <a href="#">technicien supérieur</a>
                                    </li>
                                </ul>
                            </aside>                    
                        </div>
                    </div>
                </div>
            </div>
        </section>
    

</main>

     <!-- end main -->

<footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Association</h4>
                                <ul>
                                    <li><a href="#">Un jeune</a></li>
                                    <li><a href="#"> Une idée</a></li>
                                    <li><a href="#">Un projet</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Menu</h4>
                                <ul>
                                    <li><a href="#">Presentation</a></li>
                                    <li><a href="#">Historique</a></li>
                                    <li><a href="#">Membres</a></li>
                                    <li><a href="#">Mission</a></li>
                                    <li><a href="#">Projet</a></li>
                                    <li><a href="#">Partenaire</a></li>
                                     <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Us</h4>
                                <div class="footer-pera">
                                    <p class="info1">Address: Guinée-Conakry</p>
                                </div>
                            </div>
                            <div class="footer-number">
                                <p>Phone: +216 56 35 22 77</p>
                                <p>Phone: +79 774 729 759</p>
                                <p>Email: guineeajveg@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle mb-50">
                                <h4>Newsletter</h4>
                                <p>Abonnez-vous à notre newsletter pour recevoir des mises à jour sur nos services</p>
                            </div>
                            <!-- Form -->
                            <div class="footer-form">
                                <div id="mc_embed_signup">
                                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                        <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'">
                                        <div class="form-icon">
                                            <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                Souscrire
                                            </button>
                                        </div>
                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                <p>Copyright ©2021 All rights reserved | admin <i class="fa fa-heart" aria-hidden="true"></i></p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="{{asset('Template_users/./assets/js/vendor/modernizr-3.5.0.min.js')}}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{{asset('Template_users/./assets/js/vendor/jquery-1.12.4.min.js')}}"></script>
    <script src="{{asset('Template_users/./assets/js/popper.min.js')}}"></script>
    <script src="{{asset('Template_users/./assets/js/bootstrap.min.js')}}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{{asset('Template_users/./assets/js/jquery.slicknav.min.js')}}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{{asset('Template_users/./assets/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('Template_users/./assets/js/slick.min.js')}}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{{asset('Template_users/./assets/js/wow.min.js')}}"></script>
    <script src="{{asset('Template_users/./assets/js/animated.headline.js')}}"></script>
    <script src="{{asset('Template_users/./assets/js/jquery.magnific-popup.js')}}"></script>

    <!-- Date Picker -->
    <script src="{{asset('Template_users/./assets/js/gijgo.min.js')}}"></script>
    <!-- Nice-select, sticky -->
    <script src="{{asset('Template_users/./assets/js/jquery.nice-select.min.js')}}"></script>
    <script src="{{asset('Template_users/./assets/js/jquery.sticky.js')}}"></script>
    <!-- Progress -->
    <script src="{{asset('Template_users/./assets/js/jquery.barfiller.js')}}"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="{{asset('Template_users/./assets/js/jquery.counterup.min.js')}}"></script>
    <script src="{{asset('Template_users/./assets/js/waypoints.min.js')}}"></script>
    <script src="./assets/js/jquery.countdown.min.js')}}"></script>
    <script src="./assets/js/hover-direction-snake.min.js')}}"></script>

    <!-- contact js -->
    <script src="{{asset('Template_users/./assets/js/contact.js')}}"></script>
    <script src="{{asset('Template_users/./assets/js/jquery.form.js')}}"></script>
    <script src="{{asset('Template_users/./assets/js/jquery.validate.min.js')}}"></script>
    <script src="{{asset('Template_users/./assets/js/mail-script.js')}}"></script>
    <script src="{{asset('Template_users/./assets/js/jquery.ajaxchimp.min.js')}}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{{asset('Template_users/./assets/js/plugins.js')}}"></script>
    <script src="{{asset('Template_users/./assets/js/main.js')}}"></script>

    
    </body>
</html>