{% extends 'base_admin.html.twig' %}

{% block title %}Niveau index{% endblock %}

{% block body %}
    <h1>Les niveaus</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
              
            </tr>
        </thead>
        <tbody>
        {% for niveau in niveaux %}
            <tr>
                <td>{{ niveau.id }}</td>
                <td>{{ niveau.Libelle }}</td>
                <td>
                    <a href="{{ path('niveau_show', {'id': niveau.id}) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                <td> <a href="{{ path('niveau_edit', {'id': niveau.id}) }}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">la table est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('niveau_new') }}" class="btn btn-success">Ajouter un nouveau</a>
{% endblock %}
